@using Microsoft.AspNetCore.Identity
@inject SignInManager<CustomUser> SignInManager
@inject UserManager<CustomUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item logout">
@*         <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a> *@
       Hello <strong>@User.Identity?.Name!</strong>
    </li>
    <li class="nav-item logout">

            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Logout", "Home")">
                <button type="submit" class="nav-link btn btn-info text-dark"><strong>LOG OUT</strong></button>
        </form>
    </li>
}
else
{
    <li class="nav-item logout">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item logout">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}

@* @Url.Action("Index", "Home", new { area = "" }) *@
