.HelpPage_Description{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* CodeBlocks Project logo */

.logo {
    display: inline-block;
    width: 300px;
    height: 50px;
    margin-right: 10px;
   
  /* Project Logo - Version 1 */
    background-image: url('/images/CodeCraft_logo_Option1.png');
  
  /* Project Logo - Version 2 */
    /* background-image: url('/images/CodeCraft_logo_Option2.png'); */
  
  /* Project Logo - Version 3 */
    /* background-image: url('/images/CodeCraft_logo_Option3.png'); */
  
  /* Project Logo - Version 4 */
    /* background-image: url('/images/CodeCraft_logo_Option4.png'); */
  
  
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

.flex2 {
  padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.flex button {
    font-size: large;
    font-weight: bold;
    background-color: #FED242;
    border-radius: 10px;
    width: 25vw;
    height: 10vh;
  }