/* 
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
} */

/* .Logo {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin-top: 50px;  */


    /* Project Logo */
    /* background-image: url('./images/CodeCraft_logo_Option1.png');
    background-color: red;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
} */

/* .sticky-footer {
    margin-top: 50px;
} */