@page
@model TutorialModel
@{
}
<div class="container">
    <div class="main-video">
        <div class="video">
            <iframe width="700" height="400" src="https://www.youtube.com/embed/YYXdXT2l-Gg?si=aUIaG3W504FLIsjG"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            <h3 class="title">1. Install and Setup for Mac and Windows</h3>
        </div>
    </div>

    <div class="video-list">
        <div class="vid">
            <iframe src="https://www.youtube.com/embed/k9TUPpGqYTo?si=FFiWCgBwx6M0PNm7"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            <h3 class="title">2. Strings - Working with Textual Data</h3>
        </div>
        <div class="vid">
            <iframe src="https://www.youtube.com/embed/khKv-8q7YmY?si=lc7xPESs90KruRlG"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            <h3 class="title">3. Integers and Floats - Working with Numeric Data</h3>
        </div>
        <div class="vid">
            <iframe src="https://www.youtube.com/embed/W8KRzm-HUcc?si=_OUWVYieza6wAybw"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            <h3 class="title">4. Lists, Tuples, and Sets</h3>
        </div>
        <div class="vid">
            <iframe src="https://www.youtube.com/embed/daefaLgNkw0?si=mrY95UrfxnMlmQwf"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            <h3 class="title">5. Dictionaries - Working with Key-Value Pairs</h3>
        </div>
        <div class="vid">
            <iframe src="https://www.youtube.com/embed/DZwmZ8Usvnk?si=GWuQN72TcxW-CI-E"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            <h3 class="title">6. Conditionals and Booleans - If, Else, and Elif Statements
            </h3>
        </div>
        <div class="vid">
            <iframe src="https://www.youtube.com/embed/6iF8Xb7Z3wQ?si=DUGMT0IBHrtkpgsa"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            <h3 class="title">7. Loops and Iterations - For/While Loops</h3>
        </div>
        <div class="vid">
            <iframe src="https://www.youtube.com/embed/9Os0o3wzS_I?si=1OPcqmutC02fK8Rf"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            <h3 class="title">8. Functions</h3>
        </div>
    </div>
</div>

<script src="~/js/tutorial.js"></script>
